body {
            background-color: black;
        }
        p {
            color:rgb(3, 255, 70);
            background-color: black;
        }
        .deux {
            background-color: rgb(0, 234, 255);
        }